.root {
  margin-bottom: 24px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  .title-wrapper {
    color: #353535;

    .breadcrumbs {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .title {
      font-size: 32px;
      font-weight: 500;
    }
  }
  .action-buttons {
  }
}
