.root {
  font-family: inherit;
  border-radius: 9px;
  border: none;
  height: 120px;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  &:focus {
    outline: 2px solid #f5bf42;
    outline-offset: -2px;
  }
}
