.root {
  padding: 16px;
  background-color: white;
  border-radius: 9px;

  table {
    border-collapse: collapse;
    width: 100%;
    thead {
      background-color: #f9f8f6;
      height: 36px;

      td {
        font-size: 14px;
        color: #929292;
        padding: 0 16px;
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
    tbody {
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid #ececec;
        }
        td {
          position: relative;
          font-size: 12px;
          padding: 8px 0;
          .select {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 300%;
            z-index: 99;
            outline: none;
            border-radius: 9px;
            height: 36px;
            padding: 0 16px;
            border: 1px solid #dfdfdf;
          }
        }
      }
    }
  }
}
.button {
  margin-top: 24px;
}
